:root {
  --color-dark-drown: rgb(110, 50, 26);
  --color-yellow: rgb(194, 191, 0);
  --color-light: bisque;
  --color-black: rgb(29, 29, 29);

  --spacing-small: 10px;
  --spacing-medium: 15px;
  --spacing-large: 20px;


}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-dark-drown);
  font-size: 16px;
  line-height: 1.7;
  font-family: Helvetica, sans-serif;
}

* {
  scrollbar-color: var(--color-yellow) var(--color-dark-drown);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-yellow);
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-dark-drown);
}

:global(.btn) {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

:global(.img-cover) {
  display: block;
  object-fit: cover;
  object-position: center;
}

:global(.img-contain) {
  display: block;
  object-fit: contain;
  object-position: center;
}